.overlay {
  background-color: var(--blue);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  height: 100vh;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  text-align: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 100%;
  max-width: 420px;
  padding: 0 20px;
}

.login h1 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: var(--white);
  margin-bottom: 96px;
}

.login h1 > span {
  color: var(--green);
}

.login h2 {
  font-size: 1.5rem;
  color: var(--white);
  margin-bottom: 24px;
}

.git {
  margin-bottom: 40px;
  display: flex;
  align-items: center;

}

.git img {
  height: 40px;
  margin-right: 20px;
}

.git p {
  width: 250px;
  color: #B2B9FF;
}

.form {
  width: 100%;
  display: flex;
}

.form input {
  height: 80px;
  width: 100%;
  padding: 0 20px;
  flex: 1;
  color: var(--white);
  background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
  border-radius: 5px 0px 0px 5px;
  border: none;
}
.form input::placeholder { 
  color: #B2B9FF;
}

.form button {
  width: 80px;
  height: 80px;
  background: var(--blue-dark);
  border-radius: 0 5px 5px 0;
  border: none;
}

.form button svg {
  color: #fff;
  font-size: 2rem;
}

@media (min-width: 992px) {

  .overlay {
    background: url(../../../public/backgrand/initBackgrand.svg) no-repeat;
    background-color: var(--blue);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .container {
    height: 100vh;
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
    position: relative;
  
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .login {
    width: 400px;
    margin: 0 20px;
  
  }

}